body {
    background-color: #5b3b00;
}

p burly {
    color: burlywood;
    font-size: small;
    text-align: center;
}

burly {
    color: burlywood;
}

h1 {
    font-size: 75px;
    text-align: center;
}

p {
    font-size: medium;
    text-align: center;
}

.insig-header {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}

a {
    color: burlywood;
    cursor: pointer;
    text-decoration: underline;
}

.main-header {
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;
}

.test-div {
    width: 500px;
    height: 100px;
    background-color: burlywood;
    z-index: 1000;
    border: black solid 5px;
    margin: auto;
}

img {
    align-self: center;
}

.small-img {
    height: 25%;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mid-img {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
     margin-right: auto;
}

.big-img {
    height: 75%;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blend {
    color: #5b3b00;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: auto;
    place-items: center;
}

.compress-half {
    width: 75%;
}